<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=}, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Inicio</title>
</head>
<body class="bg-dark">


    <header class="d-flex m-2 justify-content-end p-4 ">
   <a class="btn btn-primary" href="/form">Registratre</a> 
    </header>
    <main class="d-flex justify-content-center p-4">
    
            <form action="/play" method="POST" class="w-25  ">
                
                <label  class="mt-2 form-label text-light   " id="email" for="email">Email</label>
                <input name="email" class="form-control bg-secondary text-light btn-outline-primary " id="email" type="text" placeholder="Ingresa tu email"  >
                <label  class="mt-2 form-label text-light  " id="passw" for="email">Contraseña</label>
                <input name="password" class="form-control bg-secondary text-light btn-outline-primary" id="passw" type="password" placeholder="Ingresa tu contraseña">
    
                <button type="  submit" class=" w-100 btn btn-primary mt-3">Incia Sesion</button>
            
            
            </form>
        </main>
    
</body>
</html>